{% extends 'base2.html' %}
{% block content %}

<div class="container mt-4">
    <div class="row">
        {% for produto in produtos %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ url_for('static', filename=produto.img) }}" class="card-img-top" alt="{{ produto.nome }}">
                <div class="card-body">
                    <h5 class="card-title">{{ produto.nome }}</h5>
                    <p class="card-text">Categoria: {{ produto.categoria }}</p>
                    <p class="card-text">Preço: R$ {{ produto.venda_valor }}</p>
                    <p class="card-text">Quantidade: {{ produto.qtn }}</p>
                    <a href="#"class="btn btn-dark">Comprar</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
