{% extends 'base.html' %}
{% block content %}
<form action="/filtrar_categoria" method="POST">
    <div class="input-group mb-3">
        <select class="form-select" id="inputGroupSelect01" name="categoria">
      <option value="Roupas">roupas</option>
      <option value="Acessórios">acesorios</option>
      <option value="Calçados">caçaldos</option>
    </select>
    <input type="submit" value="Filtrar">
    </div>
  </form>
<form action="/">
    <button type="submit" value="voltar">remover filtro</button>
</form>

<h2>Todos os produtos</h2>
<div class="container mt-4">
    <div class="row">
        {% for produto in produtos %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ url_for('static', filename=produto.img) }}" class="card-img-top" alt="{{ produto.nome }}">
                <div class="card-body">
                    <h5 class="card-title">{{ produto.nome }}</h5>
                    <p class="card-text">Categoria: {{ produto.categoria }}</p>
                    <p class="card-text">Preço: R$ {{ produto.venda_valor }}</p>
                    <p class="card-text">Quantidade: {{ produto.qtn }}</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
