{% extends 'base.html' %}
{% block content %}
<h4>Filtrar pela a categoria</h4>
<form action="/filtrar_categoria" method="POST">
    <div class="input-group mb-3">
        <select class="form-select" id="inputGroupSelect01" name="categoria">
      <option value="Roupas">roupas</option>
      <option value="Acessórios">acesorios</option>
      <option value="Calçados">caçaldos</option>
    </select>
    <input type="submit" value="Filtrar" class="btn btn-dark">
    </div>
  </form>
<form action="/">
    <button type="submit" value="voltar" class="btn btn-dark">remover filtro</button>
</form>


<div class="container mt-4">
    <div class="row">
        {% for produto in produtos %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ url_for('static', filename=produto.img) }}" class="card-img-top" alt="{{ produto.nome }}">
                <div class="card-body">
                    <h5 class="card-title">{{ produto.nome }}</h5>
                    <p class="card-text">Categoria: {{ produto.categoria }}</p>
                    <p class="card-text">Preço: R$ {{ produto.venda_valor }}</p>
                    <p class="card-text">Quantidade: {{ produto.qtn }}</p>
                    <a href="#"class="btn btn-dark">Comprar</a>
                    {% for u in user %}
                    {% if u.cargo == 'gerente' %}
    <a href="{{ url_for('editar', produto_id=prod.id) }}" class="btn btn-primary">Editar</a>
    <form action="{{ url_for('deletar', produto_id=prod.id) }}" method="post" style="display:inline;">
        <button type="submit" class="btn btn-danger">Deletar</button>
    </form>
{% elif u.role == 'chefe' %}
    <a href="{{ url_for('editar', produto_id=prod.id) }}" class="btn btn-primary">Editar</a>

{% endif %}
{% endfor %}
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>
{% endblock %}
