{% extends 'base.html' %}

{% block content %}
<form action="/register" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username" required><br>

    <label for="password">Password:</label>
    <input type="password" name="password" required><br>

    <label for="role">Role:</label>
    <select name="role" required>
        <option value="cliente">Cliente</option>
        <option value="chefe">Chefe</option>
        <option value="gerente">Gerente</option>
    </select><br>

    <button type="submit">Registrar</button>
</form>

{% endblock %}